<header class="container-fluid">
  <div class="row">
  	<h1>Warung Bali Asli</h1>
  </div>
  <div class="row2 offset-2">
    <h2>Aneka Makanan</h2>
  </div>
</header>

<body>
  <div class="container-fluid" id="tab">
  	<ul class="tabs">
  		<li class="tab-link current" data-tab="tab-1">Presentation</li>
  		<li class="tab-link" data-tab="tab-2">Menu</li>
  		<li class="tab-link" data-tab="tab-3">Au choix</li>
  	</ul>
  	<div class="tab-content current" id="tab-1">
      <b>Warung Bali Asli, est un restaurant traditionnel de l'art culinaire Balinais mais egalement du reste de l'Indonesie.<br>
      Nourriture, a base de porc, de poulet, de legumes en tout genre mais surtout avec toutes sortes d'epices.
      Tous les aliments sont issues de l'agriculture biologique comme ils faisaient autrefois. Les animaux sont eleves
      en plein air et mangent de la nourriture adaptee a leur besoin. Ces plats sont naturellement tres epices grace aux "cabe"
      ou encore "lombok", les varietes de piments les plus connus en Indonesie. Toutefois, il est possible de demander son plat avec
      plus au moins de piments voire pas de piments du tout.</b>
  	</div>
  	<div id="tab-2" class="tab-content">
      <div class="row" id="rphoto">
    		<div class="col-sm-3">
          <p><b>Nasi Campur</b></p>
          <%= image_tag ('nasicampur.jpeg'), id: "photo" %>
          <div class="price"><b>Harga: Rp 15.000</b></div>
        </div>
        <div class="col-sm-3">
          <p><b>Gado Gado</b></p>
          <%= image_tag ('gadogado.jpeg'), id: "photo" %>
          <div class="price"><b>Harga: Rp 18.000</b></div>
        </div>
        <div class="col-sm-3">
          <p><b>Baby Guling</b></p>
          <%= image_tag ('babyguling.jpeg'), id: "photo" %>
          <div class="price"><b>Harga: Rp 25.000</b></div>
        </div>
        <div class="col-sm-3">
          <p><b>Nasi Goreng</b></p>
          <%= image_tag ('nasigoreng.jpeg'), id: "photo" %>
          <div class="price"><b>Harga: Rp 15.000</b></div>
        </div>
      </div>
  	</div>
  	<div id="tab-3" class="tab-content">
  		<b>Bali ne se resume pas seulement par sa cuisine, mais egalement par sa culture et la religion Hindouiste.
      Les paysagey sont tout aussi magnifique, que ce soit au lever du soleil, pendant la journee ou au coucher...
      Notre restaurant travaille en colaboration avec des guides locaux qui connaissent parfaitement l'ile sous
      tous les aspects. Vous pouvez voir dans la section suivante quelques une de nos merveilles.</b>
  	</div>
  </div>
</body>
<!--
<section>
  <div id="carousel">
  	<div id="buttons">
  		<a href="<" id="prev">prev</a>
  		<a href=">" id="next">next</a>
  		<div class="clear"></div>
  	</div>

  	<div class="clear"></div>

  	<div id="slides">
  		<ul>
  			<li><%=image_tag("balidance.jpeg", width:"240", height:"240", alt:"Slide 1")%></li>
  			<li><%=image_tag("coconutdrink.jpeg", width:"240", height:"240", alt:"Slide 2")%></li>
  			<li><%=image_tag("gunungagung.jpeg", width:"240", height:"240", alt:"Slide 3")%></li>
        <li><%=image_tag("sanurbeach.jpeg", width:"240", height:"240", alt:"Slide 4")%></li>
        <li><%=image_tag("tirtaempul.jpeg", width:"240", height:"240", alt:"Slide 5")%></li>
  		</ul>
  		<div class="clear"></div>
  	</div>
  </div>
</section>
-->
<section>
  <div class="container">
    <h3>Bali c'est aussi ca :</h3>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("balidance.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("coconutdrink.jpeg", id:"photoC") %>
      </div>
      <div class="item active">
        <%= image_tag("wildlife.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("gunungagung.jpg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("temple.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("sanurbeach.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("zen.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("tirtaempul.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("offrande.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("riziere.jpeg", id:"photoC") %>
      </div>
      <div class="item">
        <%= image_tag("tanahlot.jpeg", id:"photoC") %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" id="left">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" id="right">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</section>

<footer class="nav navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="offset-9">
      <p style="color: white"><b>© 2015 Warung Perancis, Pt.</b></p>
    </div>
  </div>
</footer>
